.hero_wrapper {
  min-height: 100vh;
  background: url('images/backgroundimage.jpg') no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(249, 123, 6, 0.866);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

.profile_thumbnail {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.profile_name {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.3;
  transform: rotate(-5deg);
}

.web_dev_title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.social_media_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  
}

.social_media_icons {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social_media_icons li {
  margin: 0 10px;
}

.about_me_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0; 
}

.about_me_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
}

.about_me {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  font-size: 40px;
  font-family: "Space Mono", Arial, serif;
}

.details_container {
  display: flex;
  justify-content: space-evenly, center;
  height: 75%;
  width: 50%;
  flex: 1;
}

.about_me_details {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 35%;
  margin-left: 4rem;
  margin-top: 25px;
}

.about_me_details li {
  list-style-type: none;
}

.about_me_bio {
  display: flex;
  flex-direction: column;
  width: 50%;
}